{% extends "switches/base.html" %}
{% block title %}
    Saves
{% endblock %}

{% block content %}
    {% if items|length != 0 %}
        <div class="feature-row">
        <table class="table table-bordered center">
            <colgroup>
                    <col style="width: 5%;">
                    <col style="width: 10%;">
                    <col style="width: 5%;">
                    <col style="width: 5%;">
                    <col style="width: 10%;">
            </colgroup>
            <thead class="thead-dark">
                <tr style="background-color:#ccc;">
                    <th>S/N</th>
                    <th>Name</th>
                    <th>Time Left</th>
                    <th>Station No</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <form method="POST">
                        {% csrf_token %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ item.name }}</td>
                                <td>{{ item.time_left|slice:":-7" }}</td>
                                <td>{{ item.station_no }}</td>
                                <td>
                                    <input type="submit" name="load" type="submit" value="Load" class="btn btn-secondary">
                                    <input type="submit" name="delete" type="submit" value="Delete" class="btn btn-danger">
                                    <input type="hidden" name="value" value="{{ item.id }}">
                                </td>
                            </tr>
                    </form>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>There are no saved stations available</p>
    {% endif %}
{% endblock %}